<div class="ui centered card mt-10">
    <div class="content center aligned">      
      <div class="header">
        <%= link_to article.title, article %>
      </div>
      <div class="meta right floated">Writed :<%= article.created_at.strftime('%b %d, %Y') %></div>
      <div class="ui description">  
        <%= markdown((article.body).truncate(400)) %> 
      </div>
    </div>
    <div class="extra content">
      <div class="right floated">
              <%= link_to "Read More", article_path(article.id), class:"ui green button" %>
      </div>
    </div>
</div>