<% provide(:page_title, 'All Posts') %>
<% provide(:blog_active, 'active') %>
<div class="ui centered grid">
	<div class="eight wide column">	
	<%= render @articles %>
	</div>
</div>


<br>

<%= link_to 'New Article', new_article_path %>
</div>
