<div class="ui inverted segment">
  <div class="ui inverted secondary pointing menu">
    <a class="active item">
      Home
    </a>
    <a class="item">
      Article
    </a>
    <a class="item">
      Login
    </a>
    <%= form_tag(articles_path, method: 'get', class: 'item right-menu') do %>   
    <div class="ui icon input">
      <%= search_field_tag :search, nil , placeholder:"Search articles..." ,type:"text" %>
      <i class="search link icon"></i>
    </div>    
    <% end %> 
  </div>
</div>